#carouselExample img {
    width: 125px;
    height: 125px;
    padding: 20px;
}

#carouselExample{
    width: 50%;
    margin: auto;
}
.carousel-inner{
    width: 60% !important;
    margin: auto;
}
.active, .nav-link:hover{
    color: #0D6EFD;
}