body {
    font-family: Arial;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/img/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
}

.text-center{
    margin-top: 10%;
}

#container_principale {
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

p {
    color: white;
}
.card {
    margin: 10px;
}