
.active, .nav-link:hover{
    color: #0D6EFD;
}
body{
    background: url(images/background_screen.jpg);
    background-size: cover;
}
a i {
    font-size: 30px;
}
footer a{
    padding: 5px;
    color: black;
}

.shadow-sm span, footer p{
    font-weight: bold;
}

.re-center{
    position: relative;
    bottom: 100px;
}
.featurette{
    margin-top: 10% !important;
}