
.active, .nav-link:hover{
    color: #0D6EFD;
}
.block-main{
    background: url(assets/img/desk-arrangement-with-empty-notepad-with-copy-space.jpg);
    height: 800px;
    background-size: cover;
    
}
a i {
    font-size: 30px;
}
footer a{
    padding: 5px;
    color: black;
}
.projets h1 {
    margin-bottom: 3%;
}
.test {
  position: relative;
  top: 200px;
}
